.main {
  flex: 1 1 auto;
  background: #1c306f;
}
.main__container {
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
  max-width: 1440px;
}
.main__information {
  display: flex;
}
.main__information1 {
  margin-top: 100px;
}
.main__information-h2 {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
}
.main__information-list {
  margin-top: 32px;
}
.main__information-list-h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 37px;
}
.main__information-li {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 18px;
  word-wrap: break-word;
}
.main__information-li svg {
  margin-top: 5px;
  margin-right: 10px;
}
.main__information-button {
  margin-top: 50px;
  margin-bottom: 90px;
}
.main__information-button button {
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1c306f;
  transition: all 0.3s ease-out;
}
.main__information-button button:hover {
  background-color: #cdcdcd;
  transition: all 0.3s ease-out;
}
.main__information-background-img {
  position: absolute;
  right: 0px;
}
.main__information-img {
  margin-top: 230px;
}
